.bs-docs-section {
	margin-top: 8em;
}

.nav-tabs-right {
	float: right !important;
}

.centered {
	text-align: center;
}

.modal-dialog-center {
    margin-top: 20%;
}

.modal-content-center {
    margin-top: -20%;
}
