<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Collabee</title>
		<meta name="description" content="">
		<meta name="author" content="ansterd">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- favicon.ico -->
		<link rel="shortcut icon" href="/images/favicon.ico"/>
		<!-- bower css zone -->
		<!-- custom css zone -->
		<link rel="stylesheet" href="stylesheets/bootstrap.custom.css" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<link rel="stylesheet" href="stylesheets/screen.css" />

		<style>
			html, body {
				height: 100%;
			}
		</style>
	</head>

	<body>
		<div class="tabbable tabs-right sub-content screen-tab">
			<ul class="nav nav-tabs full-height">
				<li class="active">
					<a href="#ui-component" data-toggle="tab">UI Components</a>
				</li>
				<li>
					<a href="#comment" data-toggle="tab">Comments</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="ui-component">
					<div class="tab-content-container">
						<p>
							ui-component contents
						</p>
					</div>
				</div>
				<div class="tab-pane" id="comment">
					<div class="tab-content-container">
						<p>
							comment contents
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /tabs -->

		<div class="main-content">
			<div class="bs-docs-section centered">
				<img class="screen-app-background" src="images/iphone-portrait.png"/>
				<img class="screen-app-image" src="images/sample-screen1.png"/>
			</div>
		</div>

		<!-- bower script zone -->
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<!-- dev script zone -->
		<script src="http://localhost:35729/livereload.js"></script>
		<!-- custom script zone -->
		<script src="javascripts/script.js"></script>
	</body>
</html>

